// Four types of cards
// 1. Image cap / Vertical / Button
// 2. Titles / Text / Links
// 3. Horizontal
// 4. Grid Cards

.card-text {
    font-family: $font-family-sans-serif;
    color: #555;
    margin: 0px;
    font-size: 18px;
}

h2.card-title {
    font-size: 30px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

// If attaching an image to a card that doesn't fit, add this as a class attribute
.image-fit {
    height: 100% !important;
}
