// Color Themes (UI Kit)

$proquest-purple:           #5859A5;  // Purple
$proquest-blue:             #0E7BBA;  // Blue
$proquest-teal:             #118289;  // Teal
$proquest-green:            #2E8363;  // Green
$proquest-olive:            #6F7F35;  // Olive
