// Imported Fonts
//----------------------

// Note: EOT, SVG, TTF, and OTF file types are outdated when applying to websites.
// Below, file formats WOFF and WOFF2 are used.

// ----------------------------------- Roboto -----------------------------------

@font-face {
    font-family: 'Roboto';
    src: url('../../dist/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../../dist/fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../../dist/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
    url('../../dist/fonts/Roboto/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../dist/fonts/Roboto/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../../dist/fonts/Roboto/RobotoCondensed-Regular.woff') format('woff');

}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../dist/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../../dist/fonts/Roboto/Roboto-Bold.woff') format('woff');

}

// ----------------------------------- Aleo -----------------------------------

@font-face {
    font-family: 'aleobold';
    src: url('../../dist/fonts/Aleo/Aleo-Bold.woff2') format('woff2'),
    url('../../dist/fonts/Aleo/Aleo-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'aleobolditalic';
    src: url('../../dist/fonts/Aleo/Aleo-BoldItalic.woff2') format('woff2'),
    url('../../dist/fonts/Aleo/Aleo-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'aleoitalic';
    src: url('../../dist/fonts/Aleo/Aleo-Italic.woff2') format('woff2'),
    url('../../dist/fonts/Aleo/Aleo-Italic.woff') format('woff');
}

@font-face {
    font-family: 'aleolight';
    src: url('../../dist/fonts/Aleo/Aleo-Light.woff2') format('woff2'),
    url('../../dist/fonts/Aleo/Aleo-Light.woff') format('woff');
}

@font-face {
    font-family: 'aleolightitalic';
    src: url('../../dist/fonts/Aleo/Aleo-LightItalic.woff2') format('woff2'),
    url('../../dist/fonts/Aleo/Aleo-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'aleoregular';
    src: url('../../dist/fonts/Aleo/Aleo-Regular.woff2') format('woff2'),
    url('../../dist/fonts/Aleo/Aleo-Regular.woff') format('woff');
}