// Fonts/UI Color Kit
@import './fonts';
@import './color-themes';


// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Custom Variables
$proquest-brand: $proquest-green;
@import './variables';
$proquest-diagonal: $proquest-green-diagonal;

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";


// Additional Custom Code
@import './nav';
@import './navbar';
@import './buttons';
@import './tables';
@import './forms';
@import './type';

// $proquest-brand-d1:            darken($proquest-brand, 13.5%);
// $proquest-brand-d2:              darken($proquest-brand, 20%);   
// $proquest-brand-l1:                   lighten($proquest-brand, 33.5%); 
// $proquest-brand-l2:             lighten($proquest-brand, 46.7%); 



// Examples of imported partials. Testing generated CSS via HTML file

h1 {
    font-family: $font-family-sans-serif; // default

}

.white{
    color: #fff;
    &:hover {
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
}

.sans-serif{
    font-family: $font-family-sans-serif; 
}

.serif {
    font-family: $font-family-serif;
    color: #fff
}

.serif-italic {
    font-family: $font-family-serif-italic;

}
.serif-bold {
    font-family: $font-family-serif-bold;

}

.serif-light {
    font-family: $font-family-sans-serif-light;

}

.sans-serif-light {
    font-family: $font-family-sans-serif-light;

}

.serif-italic-light {
    font-family: $font-family-serif-italic-light;

}

.serif-bold-italic {
    font-family: $font-family-serif-bold-italic;

}

.condensed {
    font-family: $font-family-condensed;

}

// Navbar 

.bg-brand {
    background-color: $proquest-brand;
}


